@import "../node_modules/bulma/sass/utilities/initial-variables";

$purple: #7a325d;
$blue: #0055a4;
$primary: $blue;
$black: #202020;
// $fable-blue: #2294fc;
$fable-blue: dodgerblue;
$body-background: whitesmoke;
$family-sans-serif: "Open Sans", sans-serif;
$navbar-breakpoint: 600px;

@import "../node_modules/bulma/bulma";

// Needed otherwise iframes show a disabled scrollbar
html,
body {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

body {
  background: $body-background;
}

.elmish-app {
  font-size: 1.1em;
  font-weight: 200;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main-section {
  flex: 1 0 auto;
  .intro-text {
    .title.is-4 {
      color: darken($fable-blue, 15%);
    }
    margin-bottom: 40px;
  }
  .resource-item {
    margin: 20px 0;
  }
}

.footer {
  flex-shrink: 0;
  background-color: $black;
  color: white;
  padding: 20px 10px;
  a:link,
  a:visited,
  a:hover,
  a:active {
    color: white;
    text-decoration: underline;
  }
}

.navbar {
  font-size: 1.2em;
  background-color: $fable-blue;
  .navbar-menu {
    // Needed to overwrite Bulma rules
    background-color: $fable-blue;
  }
  .title {
    color: rgba(255, 255, 255, 0.9);
    font-weight: 600;
    margin-bottom: 0;
  }
  .navbar-burger span {
    background-color: white;
  }
  .navbar-burger:hover {
    background-color: rgba(0, 0, 0, 0.5);
  }
  .navbar-start {
    font-weight: 400;
    font-size: 1rem;
    .navbar-item {
      color: white;
    }
    .navbar-item.is-active {
      background-color: rgba(0, 0, 0, 0.5) !important;
    }
    .navbar-item:hover {
      color: $fable-blue;
    }
  }
  .navbar-end {
    //   background-color: $body-background;
    .navbar-item:hover {
      color: $fable-blue !important;
    }
  }
}

.tag {
  &.is-tool {
    background-color: #36d7b7;
    color: whitesmoke;
  }
  &.is-library {
    background-color: #52b3d9;
    color: whitesmoke;
  }
  &.is-tutorial {
    background-color: #c0392b;
    color: whitesmoke;
  }
  &.is-video {
    background-color: #fef160;
  }
  &.is-template {
    background-color: #947cb0;
    color: whitesmoke;
  }
  &.is-sample {
    background-color: #f5ab35;
    color: whitesmoke;
  }
}